/* Common styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Style for the header */
.header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style for the heading */
.header h1 {
  color: black;
  font-size: 3em;
  margin: 0;
}

/* Style for the navigation */
nav {
  margin-top: 10px;
}

/* Style for the navigation links */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Style for the main page background photo */
.background-image {
  width: 100%;
  height: 85vh;
  background-image: url("./photos/main1.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  animation: animateBlur 6s alternate; /* Apply background animation */
}

@keyframes animateBlur {
  0% {
    filter: blur(10px); /* Start with a blur of 10 pixels */
  }
  100% {
    filter: blur(0px); /* End with no blur */
  }
}

.background-image h1,
.background-image p {
  color: white;
  font-size: 3em;
}

/* Style for the intro section */
#intro {
  background-color: #ebebec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: 70px;
}

.intro-text {
  text-align: center;
}

.intro-text h1 {
  font-size: 2em;
  color: #53585b;
  margin-bottom: 30px;
}

.intro-text p {
  font-size: 1.5em;
  color: #53585b;
}

/* Style for the main content */
#main {
  background-color: #f0f0f0;
}

/* Style for the provider section */
#providers {
  background-color: #f0f0f0;
}

/* Style for the content section */
.content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* Style for photo container */
.photo {
  flex: 1;
}

/* Style for photos */
.photo img {
  width: 100%;
  height: auto;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Apply fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

/* Style for text container */
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Style for text headings */
.text h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

/* Style for text paragraphs */
.text p {
  font-size: 1em;
  padding-left: 5%;
  color: black;
}

/* Hover effect */
.hover-enlarge {
  transition: transform 0.3s ease; /* Apply transition for smooth scaling */
}

.hover-enlarge:hover {
  transform: scale(1.1); /* Enlarge the image by 10% on hover */
}

/* Learn more button */
.learn-more {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Apply transition for smooth color change */
}

.learn-more:hover {
  background-color: #0056b3; /* Darken background color on hover */
}

/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 1em;
  height: 20px;
}

/* Media Queries */

/* For desktop */
@media only screen and (min-width: 1024px) {
  header {
    padding: 40px;
  }

  section {
    padding: 20px 20%;
  }

  footer {
    padding: 40px;
  }
}

/* For iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    padding: 30px;
  }

  section {
    padding: 80px 10%;
  }

  footer {
    padding: 30px;
  }
}

/* For iPhone */
@media only screen and (max-device-width: 767px) {
  .header h1 {
    font-size: 15px;
  }

  nav {
    margin-left: auto;
  }

  nav ul li a {
    font-size: 10px;
  }

  section {
    padding: 60px 5%;
  }

  footer {
    padding: 20px;
  }

  .background-image {
    width: 100%;
    height: 33vh;
  }

  .background-image h1,
  .background-image p {
    font-size: 25px;
  }

  .intro-text h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .intro-text p {
    font-size: 15px;
  }

  .content {
    flex-direction: column;
  }

  .photo,
  .text {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
  }

  .text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: center;
  }

  .text p {
    font-size: 10px;
    padding-left: 0;
    text-align: center;
  }

  .photo img {
    width: 100%;
    height: auto;
  }

  .learn-more {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 10px;
  }
}
